site_name: kubefwd
site_url: https://kubefwd.com
site_description: Kubernetes service forwarding with interactive TUI, REST API, and MCP integration. Forward multiple services to unique local IPs for seamless local development.
site_author: Craig Johnston
repo_url: https://github.com/txn2/kubefwd
repo_name: txn2/kubefwd
edit_uri: edit/master/docs/

copyright: Copyright &copy; 2018 - 2025 Craig Johnston / Deasil Works, Inc.

theme:
  name: material
  custom_dir: docs/overrides
  logo: images/logo_icon.png
  favicon: images/logo_icon.png
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - content.action.edit
    - toc.follow
    - announce.dismiss

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - User Guide: user-guide.md
  - Configuration:
    - Options: configuration.md
    - Advanced Usage: advanced-usage.md
    - Troubleshooting: troubleshooting.md
  - REST API: api-reference.md
  - MCP: mcp-integration.md
  - Reference:
    - Architecture: architecture.md
    - Comparison: comparison.md
    - Attributions: attributions.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/txn2/kubefwd
      name: kubefwd on GitHub
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/txn2/kubefwd
      name: kubefwd on Docker Hub
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/cjimti
      name: Follow @cjimti
  generator: false
  version:
    provider: mike

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: txn2
      repo: kubefwd
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
